# Virtual Environment
.venv
venv

__pycache__
.pytest_cache

# Temp solver files and output SVGs
backend/tmp/
*.lp
*.sol
*.svg

# Environment variable
.env 

node_modules/
backend/tmp
.ruff_cache
.mypy_cache

sample.py